.container {
  display: inline-flex;
  flex-direction: column;
  flex: 0;
}

.container > * {
  margin: 0.3rem 0;
}

.card-buttons-div {
  display: inline-flex;
  flex-direction: row;
}

.card-button {
  min-width: 7rem;
}
